@-webkit-keyframes Coolgradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}
@-moz-keyframes Coolgradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}
@-o-keyframes Coolgradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}
@keyframes Coolgradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

:root {
  --color-1: rgb(102, 186, 255);
  --color-2: rgb(245, 176, 27);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  font-family: "Lexend", sans-serif;
  overflow-x: hidden;
}

body svg {
  position: absolute;
  display: block;
  transform: translateY(-95%);
}

body .section {
  margin: 50px 0 70px 0;
}

body .section h2 {
  text-align: center;
  font-weight: 700;
}

body .section h2 span {
  color: var(--color-2);
}

header {
  height: 100vh;
  width: 100vw;
}

header {
  background: linear-gradient(
    318deg,
    #c70101,
    #b800ae,
    #cc8f00,
    #1f8a70,
    #00235b
  );
  background-size: 1000% 1000%;
  -webkit-animation: Coolgradient 10s linear infinite;
  -moz-animation: Coolgradient 10s linear infinite;
  -o-animation: Coolgradient 10s linear infinite;
  animation: Coolgradient 10s linear infinite;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 99999;
}

nav .nav-item {
  display: flex;
  padding: 20px;
}

nav .nav-link {
  margin: 0 20px;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

nav .nav-link:hover {
  background-color: white;
  color: #000;
  transform: translate(-0.25rem, -0.25rem);
  background: white;
  box-shadow: 0.25rem 0.25rem #000;
}

nav .nav-link:active {
  transform: translate(0);
  box-shadow: none;
}

nav .nav-link a {
  font-weight: 500;
  color: white;
}

nav .nav-link:hover a {
  color: black;
}

header .container {
  display: flex;
  justify-content: space-around;
}

header .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .container .title h2 {
  font-size: 2rem;
  color: white;
}

header .container .title h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
  text-shadow: 4px 4px 1px rgba(0, 0, 0);
}

header .container .title .greeting {
  color: white;
  font-size: 30px;
}

header .container .title .tagline {
  color: white;
  font-size: 15px;
}

header .container .profile {
  height: 400px;
}

header .container .profile .box {
  position: absolute;
  backdrop-filter: blur(3px);
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  animation: headerAnimation 4s linear infinite;
  animation-delay: calc(-1s * var(--i));
}

@keyframes headerAnimation {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

header .container .profile .box:nth-child(1) {
  margin-top: 280px;
  margin-left: 280px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  z-index: 99;
}

header .container .profile .box:nth-child(2) {
  margin-top: -50px;
  margin-left: 230px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  z-index: 3;
}

header .container .profile .box:nth-child(3) {
  margin-left: -80px;
  margin-top: 280px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

header .container .profile img {
  height: 100%;
  width: auto;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.section .container {
  margin-top: 30px;
}

.section-1 .container h2 {
  text-align: start;
}

.section-1 .content .raw {
  display: flex;
  justify-content: space-between;
}

.section-1 .content .raw .about {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-1 .content .about .social-media {
  display: flex;
}

.section-1 .content .about .social-media a {
  text-decoration: none;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  display: grid;
  place-items: center;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.section-1 .content .about .social-media a:hover {
  transform: translateY(-15%);
}

.section-1 .content .about .social-media a i {
  font-size: 1.5rem;
}

.section-1 .content .image {
  width: 35%;
  height: auto;
}

.section-1 .content .raw .image img {
  width: 100%;
  height: 100%;
}

.section-4 .container .card {
  background: #e0e0e0;
  box-shadow: 7px 7px 30px #bebebe, -7px -7px 15px #ffffff;
  border: none;
}

.section-4 .container .card .card-body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}

.section-4 .card .tech {
  display: grid;
  place-items: center;
}

.section-4 .card .tech .icon {
  padding: .2rem;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  display: grid;
  place-items:center;

}

.section-4 .card .tech .icon img {
  height: 45px;
  width: auto;
}

.section-2 .container .raw {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 50px;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
} */

.section-2 .swiper .card {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 7px 7px 30px #bebebe, -7px -7px 15px #ffffff;
  border: none;
}

.section-2 .swiper .card h3 {
  font-size: 25px;
}

.section-2 .swiper .card .card-header,
.section-2 .swiper .card .card-footer {
  width: 100%;
}

.section-2 .swiper .card .card-header .image {
  height: 200px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 .swiper .card .card-footer {
  border-color: white;
}

.section-3 .container .raw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-3 .card {
  margin: 25px;
  width: 220px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 40px 5px 40px 5px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}

.section-3 .raw .card:hover {
  transform: translateY(-5%);
}

.section-3 .card i {
  font-size: 2.5rem;
}

.section-3 .card h3 {
  text-align: center;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}

.section-3 .card p {
  text-align: center;
}

.section-3 .card a {
  text-decoration: none;
}

.section-footer {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 50px 0;
}

.section-footer img {
  height: 50px;
  width: auto;
}

.section-footer .text {
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 1180px) {
  .section-1 .container .raw .image img {
    height: 400px;
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: 90vh;
  }

  header .hero {
    flex-wrap: wrap-reverse;
    text-align: center;
  }

  header .hero .title {
    margin-top: 30px;
  }

  .section-1 .container h2 {
    text-align: center;
  }

  .section-1 .content .raw {
    justify-content: center;
  }

  .section-1 .content .raw .about {
    width: 100vw;
  }

  .section-1 .content .raw .image {
    display: none;
  }

  /* .section-2 .swiper .card {
    width: 30vw;
  } */

  .section-3 .container .raw .card {
    margin: 10px;
    width: 210px;
  }

  .section-4 .container .card .card-body{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
  }
}

@media screen and (max-width: 576px) {
  header nav {
    position: sticky;
  }

  header nav .toggle {
    position: fixed;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    z-index: 999999;
    top: 30px;
    right: 30px;
  }

  header nav .toggle span {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 1px black;
  }

  header nav .toggle span:nth-child(1) {
    transform-origin: 0 0;
  }

  header nav .toggle span:nth-child(3) {
    transform-origin: 0 100%;
  }

  header nav .hamburger span:nth-child(1) {
    transform: rotate(45deg);
  }
  header nav .hamburger span:nth-child(2) {
    transform: scale(0);
  }
  header nav .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
  }

  header nav .nav-item {
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    backdrop-filter: blur(3px);
    transform: translateY(-100%);
    transition: 0.5s;
  }

  header nav .nav-item.slide {
    transform: translateY(50%);
  }

  header nav .nav-item .nav-link {
    margin-bottom: 20px;
  }

  header nav .nav-item .nav-link:first-child {
    margin-top: 60px;
  }

  header nav .nav-item .nav-link {
    text-align: center;
  }

  header .hero .profile {
    margin-top: 60px;
    height: 300px;
  }

  header .hero .title .greeting {
    font-size: 25px;
  }

  header .hero .title h1 {
    font-size: 35px;
  }

  header .container .profile .box:nth-child(1) {
    margin-top: 210px;
    margin-left: 210px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    z-index: 99;
  }

  header .container .profile .box:nth-child(2) {
    margin-top: -10px;
    margin-left: 180px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    z-index: 3;
  }

  header .container .profile .box:nth-child(3) {
    margin-left: -80px;
    margin-top: 200px;
    width: 130px;
    height: 130px;
    border-radius: 10px;
  }

  .section-1 .container .raw .about {
    text-align: center;
  }

  .section-1 .content .about .social-media {
    justify-content: center;
  }

  .section-2 .swiper .card {
    max-width: 95vw;
  }

  .section-4 .container .card .card-body{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
  }

  .footer .contact,
  .footer .credit {
    font-size: 14px;
  }

  .footer span {
    font-size: 12px;
  }
}

@media screen and (max-width: 386px) {
  header {
    height: 100vh;
  }

  header .hero .title .greeting {
    font-size: 20px;
    margin-bottom: 10px;
  }

  header .hero .title .tagline {
    font-size: 15px;
  }
}